composer.phar
phpunit.phar
vendor/*
sites/statics/html/node_modules
adminator/*
.idea/*
*/bundles/*
sites/statics/html/reflection/bundles/*
sites/statics/html/editor/bundles/*
/lib/tests/output/html/templating/cache/
/sites/editor/cache/
.history/*
.vscode/*
cache/*
.buildpath
.project
.settings/*
sites/editor/html/localConfig.php
sites/statics/html/backend/bundles/*
sites/backend/cache/es/*.*
sites/backend/cache/routes/*
sites/backend/cache/es/deps_Index.php
sites/backend/cache/es/deps_Job.php
sites/backend/cache/es/Error.php
sites/backend/cache/es/Error.php.lockfile
sites/backend/cache/es/Index.php
sites/backend/cache/es/Job.php
sites/backend/html/localConfig.php