composer.phar
phpunit.phar
vendor/*
sites/statics/html/node_modules
adminator/*
.idea/*
*/bundles/*
sites/statics/html/reflection/bundles/*
sites/statics/html/editor/bundles/*
/lib/tests/output/html/templating/cache/
/sites/editor/cache/
