@font-face {
    font-family: "ExpresswayRg";
    src: url("/fonts/ExpresswayRg.woff") format("woff"),
    url("/fonts/ExpresswayRg.woff2") format("woff2")
}
@font-face {
    font-family:"BoxIcons";
    src:url("/editor/boxicons/fonts/boxicons.svg") format("svg"),
    url("/editor/boxicons/fonts/boxicons.woff") format("woff"),
    url("/editor/boxicons/fonts/boxicons.woff2") format("woff2");
}
:root {
    --main-background:#222;
    --secondary-background:#333;
    --main-font:"ExpresswayRg";
    --main-color:#EEE;
    --contrast-0:#3B88B3;
    --contrast-1:#03466B
}
body
{
    margin:0px;
    padding:0px;
    background-color:var(--main-background);
    font-family:var(--main-font);

}

