<div class="SivForm Page">
    <div class="SivFormHeader">
        <h2>EditAction</h2>
        <div class="SivFormDescription">
            
        </div>
    </div>
    <div data-dojo-attach-point="SivFormOkNode" style="background-color:green;margin-top:5px;margin-bottom:5px;color:white;font-weight:bold;display:none"></div>
    <div data-dojo-attach-point="SivFormErrorNode" style="background-color:red;margin-top:5px;margin-bottom:5px;color:white;font-weight:bold;display:none"></div>
    <div class="SivFormBody">
         <form method="post" data-dojo-type="dijit/form/Form" data-dojo-attach-point='mainForm'>
            <div class="SivFormContents">
                <div class="SivFieldContainer">
                    <div class="SivFieldContainerTitle"></div>
                    <div class="SivFieldContainerDescription"></div>                
                    <table cellpadding=0 cellspacing=0>
                        <tbody data-dojo-attach-point='tableNode'>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">tag</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="tag" data-siviglia-input-type="_String"  data-siviglia-input-definition='{"TYPE":"String","MAXLENGTH":30,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"tag"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">id_site</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="id_site" data-siviglia-input-type="Integer"  data-siviglia-input-params='{"LABEL":["id_site","host","canonical_url","hasSSL","namespace","websiteName"],"VALUE":"id_site","NULL_RELATION":[-1],"PRE_OPTIONS":{"-1":"Select an option"},"DATASOURCE":{"MODEL":"\\model\\Site","NAME":"FullList","PARAMS":[]}}' data-siviglia-input-definition='{"REQUIRED":true,"FIELD":"id_site","MODEL":"\\\\model\\\\Page","DATASOURCE":{"MODEL":"\\model\\web\\Site","NAME":"FullList","PARAMS":[]},"MULTIPLICITY":"1:N","FIELDS":{"id_site":"id_site"},"ROLE":"HAS_ONE","CARDINALITY":1}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">name</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="name" data-siviglia-input-type="_String"  data-siviglia-input-definition='{"TYPE":"String","MINLENGTH":2,"MAXLENGTH":30,"SEARCHABLE":1,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"name"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">date_add</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="date_add" data-siviglia-input-type="DateTime"  data-siviglia-input-definition='{"DEFAULT":"NULL","TYPE":"DateTime","REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"date_add"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">date_modified</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="date_modified" data-siviglia-input-type="DateTime"  data-siviglia-input-definition='{"DEFAULT":"NULL","TYPE":"DateTime","REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"date_modified"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">id_type</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="id_type" data-siviglia-input-type="Integer"  data-siviglia-input-definition='{"DEFAULT":"1","TYPE":"Integer","REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"id_type"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">isPrivate</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="isPrivate" data-siviglia-input-type="Boolean"  data-siviglia-input-definition='{"TYPE":"Boolean","DEFAULT":false,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"isPrivate"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">path</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="path" data-siviglia-input-type="_String"  data-siviglia-input-definition='{"TYPE":"String","MINLENGTH":2,"MAXLENGTH":255,"SEARCHABLE":1,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"path"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">title</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="title" data-siviglia-input-type="_String"  data-siviglia-input-definition='{"TYPE":"String","MINLENGTH":2,"MAXLENGTH":200,"SEARCHABLE":1,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"title"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">tags</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="tags" data-siviglia-input-type="_String"  data-siviglia-input-definition='{"TYPE":"String","MINLENGTH":2,"MAXLENGTH":255,"SEARCHABLE":1,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"tags"}'></span>
							</td>
						</tr>
						<tr>
							<td class="SivFormLabel SivFormRequiredField">description</td>
							<td class="SivFormInput SivFormRequiredField">
				<span data-siviglia-name="description" data-siviglia-input-type="_String"  data-siviglia-input-definition='{"TYPE":"String","MINLENGTH":2,"MAXLENGTH":255,"SEARCHABLE":1,"REQUIRED":true,"MODEL":"\\\\model\\\\Page","FIELD":"description"}'></span>
							</td>
						</tr>
                 </tbody>            
            </table>
            </div>
            <div class="SivFormButtons"><button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: submit" type="button">Ok</button></div>
        </div>
    </form>
</div>
             </div>