.resultError {
    background-color: #cc3636;
}

.result {
    margin: 2px;
    padding: 3px;
    color: honeydew;
}

.testTitle {
    background-color: #5b6a8a;
    padding: 3px;
    font-size: 20px;
    color: white;
}

.testDoc {
    background-color: #9b9ed6;
    padding: 5px;
    border-bottom: 1px solid #AAA;
}

.testDiv {
    border: 2px solid black;
    padding: 5px;
    background-color: #6a7592;
    margin: 5px 20px;
}

.resultOk {
    background-color: green;
}

.testResult {
    margin-top: 30px;
}

.testCont {
    height: 250px;
}

.testDef {
    width: 400px;
    float: left;
    height: 250px;
    overflow-y: scroll;
}

.testView {
    width: 400px;
    float: left;
    height: 250px;
    overflow-y: scroll;
}

.testCode {
    height: 250px;
    overflow-y: scroll;
}

.resultTitle {
    background-color: #DDD;
    padding: 5px;
    border: 1px solid #AAA;
}

.resultCode {
}

.resultContent {
    border: 1px solid #AAA;
    margin: 10px;
    background-color: white;
}

path.link {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}