<div style="display:none">

    <div data-sivWidget="Siviglia.model.ads.AdManager.views.SitesView" data-widgetCode="Siviglia.model.ads.AdManager.views.SitesView">
        <div style="width:250px;float:left" data-sivView="Siviglia.inputs.jqwidgets.Form" data-sivParams='{"bto":"/*domain"}'
             data-sivlayout="Siviglia.inputs.jqwidgets.Container"
        ></div>
        <div style="float:left">
            <div data-sivView="Siviglia.model.ads.AdManager.views.List" data-sivParams='{"domain":"/*domain/domain"}'
            ></div>
        </div>
    </div>


    <div data-sivWidget="Siviglia.model.ads.AdManager.views.List" data-widgetCode="Siviglia.model.ads.AdManager.views.List">
        <div data-sivId="grid"></div>
    </div>
</div>